*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fondo img {
  width: 100%;
  display: flex;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.logo img {
  height: auto;
  width: 65px;
  box-sizing: border-box;
}

div .container-lg  {
  align-items: center;
}


.cards {
  margin-top: 2em;
}
